<li class="dropdown">
    <a asp-controller="Device"
       asp-action="Index"
       class="dropdown-toggle" data-toggle="dropdown">Devices<b class="caret"></b></a>
    <ul class="dropdown-menu">
        @foreach (var category in Model)
        {
            <li>
                <a asp-controller="Device" asp-action="List" asp-route-category="@category.CategoryName">@category.CategoryName</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a asp-controller="Device" asp-action="List" asp-route-category="">View all devices</a>
        </li>
    </ul>
</li>